<h1>Editing Tveet</h1>

<%= turbo_frame_tag dom_id(@tveet) do %>
  <div class="card card-body">
    <%= render 'form', tveet: @tveet %>
    <%= link_to 'Cancel', @tveet, class: 'btn btn-secondary' %>
  </div>
<% end %>
